body{direction: rtl;margin: 5px;}
header{background-color: aqua;
    }
    nav{
        background-color: rgb(226, 43, 150);
    }
    #flex{
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 255, 255, 0.527);
      }
      #item-flex{
       background-color: rgba(220, 236, 2, 0.705);
       margin: 5px;
       padding: 5px;
       text-emphasis-color: red;
      }
    main{
        background-color: rgb(0, 255, 42);
        padding: 5px;
        display: flex;
    }
    aside,section{
        background-color: rgb(0, 0, 0);
        margin: 5px;
        border-radius: 10px;
        height: 150px;
    }
    aside{
        flex-grow: 1;
    
    }
    section{
        flex-grow: 4; }